@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* Estilos etiqueta a */

a{
    color: rgb(0, 0, 0);
}

/* Estilos contendor padre */
.bb{
    position: relative;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/8fe6da81436849.5cffaef4c8c0a.gif');
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 0; 
}

.bb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.801); 
    z-index: -1; 
}

.bb * {
    position: relative;
    z-index: 1;
}


.Contenedor{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 3%;
    /* margin-top: 4%; */
}

/* Estilos Contenedor Padre Login */

.Login{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}

/* Estilos Form */

.Loogin{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: white;
    padding: 7%;
    border-radius: 30px;
    width: 80%;
}

/* Estilos abajo Form */

.Opp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

}


/*1 Estilos de las etiquetas dentro del form */

.formulario{
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    align-items: center;
    width: 90%;
}

.LL{
    text-decoration: none;
}

.IP{
    display: flex;
    gap: 1rem;
    width: 90%;
    align-items: center;
    border: none;
    border-bottom: 1px solid black;
}
.IP ion-icon{
    min-width: 15px;
    font-size: 22px;
}
.TD{
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid black;
}
.TD ion-icon{
    min-width: 25px;
    font-size: 22px;
}
.IP input{
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    outline: 0px;
}
input::placeholder{
    color: rgb(66, 65, 65);
}
input:hover{
    border: none;
}
.BB{
    padding: 8px;
    background-color:  #04a404;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    color: white;
}
/* button:hover{
    background-color:  white;
    color: #04a404;
    border: solid 1px;
} */

/* Estilos Select */

select {
    /* background-color: #f2f2f2; */
    outline: 0px;
    border-style: none;
    color: #333;
    font-size: 13px;
    border: 1px solid #ccc;
    /* border-radius: 30px; */
    padding: 8px;
    width: 210px;
    height: 40px;
    border: none;
}
select:hover {
    cursor: pointer;
}

select option {
    background-color: #f2f2f2;
    color: #333;
    font-size: 13px;
    border: 1px solid #ccc;
    padding: 8%;
}
select option:hover {
    background-color: #ccc;
    cursor: pointer;
}



/* Estilos contenedor del logo de la app */

.Logo{
    display: flex;
    width: 33.3%;
    align-items: center;
    justify-content: center;
    margin-top: -4%;
}
.logo{
    width: 45%;
    /* height: 30vh; */
}

/* Estilos contenedor del escudo del Sena */

.Escudo{
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -4%;
}
.escudo{
    width: 45%;
    /* height: 30vh; */
}


/* Medias Query */

@media (max-width: 480px) {
    .bb {
        background-color: black;
        background-image: none;
    }
}