/* Contenedor Padre */
.Register_padre{
    padding: 3%;
    margin: 2%;
    background-color: rgb(230, 224, 229);
}

/* Contenedor siguiente */

.Register_hijo{
    display: flex;
    align-items: center;
}

/* Contenedor imagen */

.Register_imagen{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register_imagen img{
    width: 80%;
}

/* Contenedor informacion */

.Register_Contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}