.profile{
    width: 37px;
    height: 37px;
    border: solid 0.5px;
    background-color: white;
    border-radius: 50px;
}

.profile img{
    border: solid 0px;
    border-radius: 50px;
}

.ml-custom {
    margin-right:11rem; /* Puedes ajustar este valor según tus necesidades */
  }
/* .SalirNav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SalirNav .ruta {
    width: 80%;
}

.SalirNav i {
    width: 10%;
} */

.ÑÑ{
    margin-right: 4rem;
}